@charset "utf-8";
/*base css*/
html,
body,
div,
ul,li,
p,
img,
a,
dd,dt,dl {
	margin: 0;
	padding: 0;
}
body {
	font-size: 14px;
	font-family: 'Microsoft Yahei';
	background-color: #f5f5f5;
}
li {
	list-style: none;
}
a {
	text-decoration:none;
	color: #333;
}
.clearfix:after {
	content: '';
	height: 0;
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
}

@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*main css*/
.container {
	margin: 0 auto;
	width: 1228px;
}
.sit-bn-bar {
	width: 100%;
	height: 60px;
	background:#FF4E42 url(../img/bar.jpg) center center;
}
.sit-bn-bar .container {
	height: 60px;
}

/*nav*/
.site-topbar {
	width: 100%;
	height: 40px;
	background-color:#333;
}
.site-topbar .container {
	position: relative;
	background-color:#333;
	width: 1228px;
	height: 40px;
	margin: 0 auto;
}
.site-topbar .container .topbar-nav {
	float: left;
	width: 588px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
}
 .site-topbar .topbar-nav li,
 .site-topbar .topbar-info li {
 	float: left;
 }
 .site-topbar .topbar-nav li a,
 .site-topbar .topbar-info li .link {
 	padding: 0 7px;
 	border-left: 1px solid #424242;
 	color: #b0b0b0;
 }
 .site-topbar .topbar-nav li.first a,
 .site-topbar .topbar-info li.first .link {
 	border-left: none;
 }
.site-topbar .topbar-nav li:hover a,
.site-topbar .topbar-info li:hover .link{
	color: #fff;
}

/*登录 注册*/
.site-topbar .container .topbar-info{
	position: absolute;
	top: 0;
	right: 155px;
	float: right;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
}
/*购物车*/
.site-topbar .container .topbar-cart {
	position: relative;
	float: right;
	font-size: 12px;
	color: #b0b0b0;
	height: 40px;
	line-height: 40px;
	width: 120px;
    margin-left: 15px;
    text-align: center;
    cursor: pointer;
}
.site-topbar .container .topbar-cart a {
	color: #b0b0b0;
}
.site-topbar .topbar-cart .cart-mini {
	height: 40px;
    line-height: 40px;
    background: #424242;
}
.site-topbar .topbar-cart .cart-mini:hover {
	background-color: #fff;
	color: #ff6700;
}
.site-topbar .topbar-cart .iconfont {
	margin-right: 4px;
    font-size: 18px;
}
.site-topbar .topbar-cart .cart-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 50;
    width: 316px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    padding: 15px 0 0;
    color: #424242;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-top: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    box-shadow: 0 2px 10px rgba(0,0,0,0.15)
}
/*导航*/
.site-header {
	width: 100%;
	height: 100px;
    position: relative;
    z-index: 20;
    background-color: #fff;
}
.site-header .container {
	height: 100px;
	line-height: 100px;
}
.site-header .mi-logo {
	float: left;
    width: 62px;
}
.site-header .mi-logo img {
	margin-top:22px;
	display:block;
	width: 55px;
	height: 55px;
	background: #ff6700 url(../img/mi-logo.png) center center no-repeat;
	cursor: pointer;
}
.site-header .header-nav {
	float: left;
    width: 850px;
}
.site-header .nav-list {
    z-index: 10;
    float: left;
    width: 820px;
    height: 88px;
    line-height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    font-size: 16px;
}
.site-header .nav-category {
    position: relative;
    float: left;
    width: 127px;
    height: 88px;
    padding-right: 15px;
}
.site-header .nav-list .nav-item {
	float: left;
	height: 88px;
}
.site-header .nav-list .nav-item:hover .links {
	color: #ff6700;
}
.nav-list .nav-item .links {
	padding: 39px 10px 28px;
    color: #333;
}
/*搜索框*/
.site-header .searchForm {
	position: relative;
	float: right;
    width: 296px;
    height: 50px;
    margin-top: 25px;
}
.site-header .search-text {
    position: absolute;
    top: 0;
    right: 51px;
    z-index: 1;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: 0;
    --webkit-transition: all .2s;
    -transition: all .2s;
}
.data-search {
	display: none;
	position: absolute;
	top: 50px;
	right: 51px;
	width: 243px;
	height: 300px;
	border: 1px solid #FF6700;
	border-top: none;
	background-color: #fff;
	font-size: 12px;
}
.data-search ul.result-list {
	height: 300px;
}
.data-search li {
	float: left;
	width: 100%;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}
.data-search li a{
	padding: 0 14px;
	display: block;
	height: 30px;
}
.data-search li:hover {
	background-color: #F5F5F5;
}
.data-search li.first {
	-margin-top: -30px;
}
.data-search li a span {
	float: right;
	color: #B0B0B0;
	height: 30px;
}

/*热门推荐*/
.searchForm .search-hot-words {
    position: absolute;
    top: 14px;
    right: 62px;
    z-index: 2;
    text-align: right;
    line-height: 18px;
}
.searchForm .search-hot-words a {
	display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.searchForm .search-hot-words a:hover {
	background-color: #FF6709;
	color: #fff;
}
.site-header .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
    transition: 0.3s;
}
.site-header .search-btn:hover {
	background-color: #FF6700;
	color: #fff;
	cursor: pointer;
}


/*二级导航*/
.header-nav-menu {
	display: none;
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 25;
	width: 100%;
	height: 230px;
	border-top: 1px solid #ccc;
	background-color: #fff;
}
.header-nav-menu .container {
	height: 230px;
	z-index: 30;
	padding-left: 40px;
}
.header-nav-menu .figure {
	width: 160px;
    height: 110px;
    margin: 0 auto 16px;
    text-align: center;
    border-right: 1px solid #ccc;
    cursor: pointer;
}
.header-nav-menu .children-list li.last .figure {
	border: none;
}
.header-nav-menu .children-list li {
	position: relative;
    float: left;
    width: 180px;
    height: 195px;
    padding: 35px 12px 0;
    text-align: center;
}
.header-nav-menu .children-list li img {
	display: block;
	width: 160px;
    height: 110px;
    margin-left: -20px;
}
.header-nav-menu .title,
.header-nav-menu .price {
    margin: 0;
    height: 20px;
    line-height: 20px;
    color: #333;
    font-size: 12px;
    margin-left: -40px;
}
.header-nav-menu .price {
	color: #ff6700;
}


/*全部商品分类*/
.nav-category .site-category {
    -display: none;
    position: absolute;
    top: 88px;
    left: -92px;
    z-index: 21;
    width: 234px;
    height: 460px;
    font-size: 14px;
}
.nav-category .site-category .site-category-list {
	width: 234px;
    height: 420px;
    border: 0;
    color: #fff;
    padding: 20px 0;
    -background: #333;
    background: rgba(0,0,0,0.6);
}
.nav-category .site-category-list .category-item:hover {
	background-color: #FF6700;
}
.nav-category .site-category-list .title {
    position: relative;
    display: block;
    padding: 0 25px 0 30px;
    height: 42px;
    line-height: 42px;
    color: #fff;
}
.nav-category .site-category-list .title span {
	float: right;
	font-size: 18px;
	color: #e0e0e0;
}
/*三级导航*/


/*banner 轮播*/
.home-hero-container{
	width: 100%;
	height: auto;
	background-color: #fff;
}
.home-hero {
	position: relative;
	width: 1228px;
	padding-bottom: 26px;
}
.home-hero-container .banner {
	position: relative;
	height: 460px;
}
.banner .img-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity:0;
	height: 460px;
}
.banner .img-item img {
	display: block;
}
.banner .img-item.img-active {
	opacity:1;
}
/*小圈圈*/
.circle-wrapper {
	position: absolute;
	bottom: 26px;
	right: 35px;
}
.circle-wrapper .circle-item {
	float: left;
	display: block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    border: 2px solid rgba(75,75,75,.3);
    border-radius: 50%;
    background: rgba(0,0,0,0.4);
    cursor: pointer;
}
.circle-wrapper .circle-item.active,
.circle-wrapper .circle-item:hover {
	background-color: transparent;
}
/*banner 耳朵*/
.banner .ear span {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -42px;
	width: 40px;
	height: 70px;
	cursor: pointer;
}
.banner .ear .ear-left {
	left: 234px;
	background: url(../img/ear.png) -84px 0;
}
.banner .ear .ear-left:hover {
	background: url(../img/ear.png) 0 0;
}
.banner .ear .ear-right {
	right: 2px;
	background: url(../img/ear.png) -126px 0;
}
.banner .ear .ear-right:hover {
	background: url(../img/ear.png) -43px 0;
}
/*hero sub*/
.home-hero-sub {
	margin-top: 14px;
	height: 170px;
}
.home-channel {
	height: 170px;
	width: 234px;
}
.home-channel-list {
    margin: 0;
    padding: 3px;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
}
.home-channel-list li {
	position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
}
.home-channel-list li:hover a {
	color: #fff;
}
.home-channel-list a {
    display: block;
    padding-top: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(255,255,255,0.7);
}
.home-channel-list i {
    display: block;
    height: 24px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;
}
/*边框*/
.home-channel {
	float: left;
}
.home-channel-list li:after {
	position: absolute;
    content: "";
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
    background-color: #665e57;
}
.home-channel-list li:before {
	position: absolute;
    content: "";
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
    background-color: #665e57;
}
.home-channel-list li.left:before,
.home-channel-list li.top:after {
	
}

.home-img {
	width: 978px;
	float: left;
    margin-left: 14px;
}
.home-img li {
	float: left;
	margin-left: 15px;
	height: 170px;
	-webkit-transition: -webkit-box-shadow .2s linear;
    transition: box-shadow .2s linear;
}
.home-img li:hover {
	box-shadow: 0px 0px 50px #B0B0B0;
}
.home-img li.first {
	margin-left: 0;
}
.home-img li img {
	width: 316px;
	height: 170px;
}

/*热门商品推荐*/
/*小米明星单品*/
.home-star-goods {
	width: 100%;
	height: auto;
	background-color: #fff;
}
.xm-plain-box .box-hd {
	height: 58px;
}
.xm-plain-box .box-hd .title {
	float: left;
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.xm-plain-box .box-hd .more{
	float: right;
}
.xm-plain-box .box-hd .more .more-link {
    font-size: 16px;
    line-height: 58px;
    color: #424242;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.xm-plain-box .more .control {
	float: left;
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    margin-top: 17px;
    text-align: center;
    color: #e0e0e0;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
} 
.xm-plain-box .more .control-active {
	color: #b0b0b0;
}   
.xm-plain-box .more .control-active:hover {
	color: #FF6700;
}
.home-star-goods .box-bd {
    position: relative;
    width: 1226px;
    padding-bottom: 40px;
}
.home-star-goods .img-wrapper {
	overflow: hidden;
}
.home-star-goods .goods-list {
	width: 2480px;
    height: 340px;    
}
.home-star-goods .goods-list li {
	float: left;
	margin-right: 14px;
	width: 234px;
    height: 300px;
    padding-top: 39px;
    border-top-width: 1px;
    border-top-style: solid;
    text-align: center;
    background: #fafafa;
}
.home-star-goods .goods-list .title {
    margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.home-star-goods .goods-list .title a {
	color: #212121;
}
.home-star-goods .goods-list img {
	display: block;
	margin: 0 auto;
    width: 160px;
    height: 160px;
}
.home-star-goods .goods-list .desc {
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b0b0b0;
}
.home-star-goods .goods-list .price {
    color: #ff6709;
}
.home-star-goods .rainbow-item-1 {
	border-top-color: #ffac13;
}
.home-star-goods .rainbow-item-2 {
    border-top-color: #83c44e;
}
.home-star-goods .rainbow-item-3 {
	border-top-color: #2196f3;
}
.home-star-goods .rainbow-item-4 {
    border-top-color: #e53935;
}
.home-star-goods .rainbow-item-5 {
    border-top-color: #00c0a5;
}

/*智能硬件*/
.page-main {
	width: 100%;
	height: auto;
	padding-top: 60px;
}
.xm-plain-box .more .more-link:hover {
	color: #FF6709;
}
.xm-plain-box .more .more-link .iconfont {
    width: 12px;
    height: 12px;
    padding: 4px;
    margin-left: 8px;
    border-radius: 16px;
    font-size: 12px;
    line-height: 12px;
    background: #b0b0b0;
    color: #fff;
    vertical-align: 1px;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.xm-plain-box .more .more-link .iconfont:hover {
	background-color: #FF6709;
}
.page-main .home-brick-box {
	height: 686px;
	margin-bottom: 8px;
}
.box-bd .row-left {
	float: left;
	width: 234px;
	height: 628px;
}
.box-bd .brick-item {
    position: relative;
    z-index: 1;
    float: left;
    width: 234px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.box-bd .brick-item:hover {
	z-index: 2;
	-webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
.box-bd .brick-item-l {
	height: 614px;
	margin-left: 0;
}
.box-bd .row-right {
	position: relative;
	width: 992px;
	float: left;
}
.brick-item-m-2 {
    height: 260px;
    padding: 20px 0;
}
.brick-item-m .figure-img {
    width: 150px;
    height: 150px;
    margin: 0 auto 18px;
}
.brick-item-m-2 .figure-img {
    width: 160px;
    height: 160px;
}
.brick-item-m-2 .figure-img img {
    width: 160px;
    height: 160px;
}
.brick-item-m .title {
    margin: 0 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.brick-item-m-2 .title {
    margin: 0 10px 2px;
}
.brick-item-m .title a {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.brick-item-m .desc {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1;
    color: #b0b0b0;
}
.brick-item-m-2 .price {
    margin: 0 10px 14px;
}
.brick-item-m .price {
    margin: 0 10px 10px;
    text-align: center;
    color: #ff6700;
}
.brick-item .flag-postfree {
    background-color: #ffac13;
    z-index: 4;
}
.brick-item .flag-new {
    background-color: #83c44e;
    z-index: 5;
}
.brick-item .flag {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    width: 64px;
    height: 20px;
    margin-left: -32px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
}
.brick-item .flag-saleoff {
    background-color: #e53935;
}
.brick-item .yuanjia {
	color: #b0b0b0;
	text-decoration: line-through;
	margin-left: 5px;
}

/*搭配*/
.xm-plain-box .box-hd .more .tab-list {
    font-size: 16px;
    margin-top: 21px;
}
.home-brick-box .box-hd .more .tab-list li {
    margin: 0 0 0 30px;
}
.xm-plain-box .box-hd .more .tab-list li {
    display: inline-block;
    padding: 0;
    margin: 0 15px;
    color: #424242;
    border-bottom: 2px solid #f5f5f5;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-color .5s;
    transition: border-color .5s;
    cursor: pointer;
}
.brick-promo-list .brick-item-m {
    height: 300px;
    padding: 0;
    margin: 0 0 14px 0;
}
.brick-item-s {
    height: 93px;
    padding-top: 50px;
}
.brick-item-s .figure-img {
    position: absolute;
    right: 20px;
    top: 32px;
    width: 80px;
    height: 80px;
}
.brick-item-s .figure-img img {
	width: 80px;
	height: 80px;
}
.brick-item-s .figure-more a {
    display: block;
    color: #ff6700;
}
.brick-item-s i {
    font-size: 48px;
    line-height: 48px;
}
.brick-item-s .title {
    margin: -10px 110px 5px 30px;
    font-size: 14px;
    font-weight: 400;
}
.brick-item-s .title a {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.brick-item-s .price {
    margin: 0 110px 0 30px;
    font-size: 12px;
    color: #ff6700;
}
.brick-item-s .price .num {
    font-size: 14px;
}
.brick-item-s .more {
    display: block;
    margin: 0 110px 0 30px;
    font-size: 18px;
    color: #333;
}
.brick-item-s .more small {
    display: block;
    font-size: 12px;
    color: #757575;
}
.brick-item-s i {
    font-size: 60px;
    line-height: 60px;
    color: #FF6700;
}
.brick-item-m .review-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 234px;
    height: 0;
    overflow: hidden;
    _zoom: 1;
    font-size: 12px;
    background: #ff6700;
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.brick-item-m .review-wrapper a {
    display: block;
    padding: 8px 30px;
    outline: 0;
}
.brick-item-m .review {
    margin-bottom: 5px;
    color: #fff;
}
.brick-item-m .review,
.brick-item-m .author {
    display: block;
}
.brick-item-m .author {
    color: #fff;
    color: rgba(255,255,255,0.6);
}
.brick-item-m .date {
    margin-left: 6px;
}
.brick-item:hover .review-wrapper {
	opacity: 1;
	height: 80px;
}
/*选项卡切换*/
/*选项卡切换颜色变化*/
.xm-plain-box .box-hd .more .tab-list li.tab-active {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.box-bd .row-right .brick-list.tab-content {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.box-bd .row-right .brick-list.tab-content-active {
	display: block;
}
.brick-promo-list .brick-item img {
	width: 234px;
}

/*为你推荐*/
.recommend .recommend-bd {
	overflow: hidden;
    width: 1226px;
	height: 320px; 
}
.recommend .xm-carousel-wrapper {
	position: relative;
}
.xm-carousel-list {
	width: 4960px;
    transition: margin-left 0.5s ease;
}
.recommend-bd ul li {
    margin: 0 14px 14px 0;
	float: left;
    width: 234px;
    height: 300px;
    background-color: #fff;
    text-align: center;
    position: relative;
}
.recommend-bd ul li:hover {
	z-index: 1;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
.recommend-bd dl {
    padding: 0 20px;
    margin-bottom: 0;
}
.recommend-bd dl dt {
    padding: 40px 0 15px;
    height: 145px;
}
.recommend-bd .xm-recommend-name {
    margin-bottom: 10px;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.recommend-bd .xm-recommend-price {
    margin-bottom: 10px;
    color: #ff6700;
}
.recommend-bd .xm-recommend-tips {
    color: #757575;
}
/*为你推荐*/
.home-review-box {
    margin-bottom: 22px;
}
.review-list {
    width: 1240px;
    height: 415px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.review-item {
    position: relative;
    float: left;
    width: 296px;
    height: 415px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.review-item:hover {
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
.review-item:first-child,
.review-item-first {
    margin-left: 0;
}
.review-item .figure-img {
    width: 296px;
    height: 220px;
    margin: 0 0 28px;
}
.review-item .figure-img a {
    display: block;
}
.review-item .figure-img img {
	display: block;
    width: 296px;
    height: 220px;
}
.review-item .review {
    height: 72px;
    margin: 0 28px 22px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    overflow: hidden;
    _zoom: 1;
}
.review-item .review,
.review-item .review a {
    color: #333;
}
.review-item .author {
    position: relative;
    height: 18px;
    margin: 0 28px 8px;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #b0b0b0;
}
.review-item .info {
    margin: 0 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1;
}
.review-item .title {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    max-width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1;
    vertical-align: bottom;
    color: #333;
}
.review-item .title a {
    color: #333;
}
.home-review-box .sep {
    color: #e0e0e0;
    margin: 0 .25em;
}
.review-item .price {
    display: inline;
    margin: 0;
    color: #ff6700;
}
.review-item .price {
    display: inline;
    margin: 0;
    color: #ff6700;
}
/*内容*/
.content-list {
    width: 1240px;
    height: 420px;
}
.home-content {
    margin-bottom: 22px;
}
.content-item {
    position: relative;
    float: left;
    width: 296px;
    height: 374px;
    padding: 45px 0 0;
    border-top: 1px solid #e0e0e0;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    overflow: hidden;
}
.content-item.content-item-first {
    margin-left: 0;
}
.content-item:hover,
.video-item:hover {
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
.item-list {
	width: 1184px;
    transition: margin-left 0.5s ease;
}
.content-item-book {
    border-top-color: #ffac13;
    color: #ffac13;
}
.content-item-theme {
    border-top-color: #83c44e;
    color: #83c44e;
}
.content-item-game {
    border-top-color: #e53935;
    color: #e53935;
}
.content-item-app {
    border-top-color: #2196f3;
    color: #2196f3;
}
/*图书*/
.content-item .item-list li {
    float: left;
    width: 296px;
    height: 340px;
}
.content-item .title {
    margin: 0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.content-item .name {
    margin: 0 20px 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1;
}
.content-item .name,
.content-item .name a {
    color: #333;
}
.content-item .name a {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1;
    text-align: center;
}
.content-item .desc,
.content-item .desc a {
    color: #b0b0b0;
}
.content-item .desc {
    margin: 0 48px 10px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    _zoom: 1;
    color: #b0b0b0;
}
.content-item .price,
.content-item .price a {
    color: #333;
}
.content-item .price {
    height: 21px;
    margin: 0 10px 15px;
    text-align: center;
    color: #333;
}
.content-item .figure-img {
    width: 216px;
    height: 154px;
    margin: 0 auto;
}
.content-item .figure-img a {
    display: block;
    height: 154px;
}
/*圆点*/
.content-item .xm-pagers {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 296px;
    text-align: center;
}
.xm-pagers .pager-active {
    cursor: default;
}
.xm-pagers .pager {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 10px;
    margin: 0 2px;
    cursor: pointer;
}
.xm-pagers .pager-active .dot,
.xm-pagers .pager-active:hover .dot {
    border-color: #ff6700;
    background-color: #f5f5f5;
    background-color: transparent;
}
.home-content-box .dot {
    border-color: #fff;
}
.xm-pagers .dot {
    display: block;
    width: 6px;
    height: 6px;
    border: 2px solid #f5f5f5;
    border-radius: 6px;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
    _zoom: 1;
    background-color: #b0b0b0;
    -webkit-transition: all .5s;
    transition: all .5s;
}
/*耳朵*/
.xm-controls .control-prev {
    left: 0;
}
.xm-controls .control-next {
    right: 0;
}
.xm-controls .control {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transition: all .6s;
    transition: all .6s;
}
.xm-controls-block-small .control {
    width: 20px;
    height: 24px;
    padding: 12px 0;
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
}
.xm-controls .control {
    display: inline-block;
    text-align: center;
    color: #fff;
    -webkit-transition: color .5s;
    transition: color .5s;
}
.content-item:hover .control {
	opacity: 1;
	background-color: #b0b0b0;
    background-color: rgba(66,66,66,0.2);
    color: #fff;
}
.content-item .control:hover {
	background-color: #757575;
}

/*视频*/
.home-video-box {
    margin-bottom: 60px;
}
.xm-plain-box .box-hd {
    position: relative;
    height: 58px;
    -webkit-font-smoothing: antialiased;
}
.video-list {
    width: 1240px;
    height: 285px;
}
.video-item {
    position: relative;
    float: left;
    width: 296px;
    height: 285px;
    margin-left: 14px;
    margin-bottom: 14px;
    text-align: center;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.video-item.video-item-first {
    margin-left: 0;
}
.video-item .figure-img {
    position: relative;
    width: 296px;
    height: 180px;
    margin: 0 0 28px;
}
.video-item .figure-img a {
    display: block;
    height: 180px;
}
.video-item .figure-img img {
    width: 296px;
    height: 180px;
}
.video-item .play {
    position: absolute;
    left: 20px;
    bottom: 10px;
    width: 32px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    background-color: #424242;
    background-color: rgba(0,0,0,0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#99000000", endColorstr="#99000000")\9;
    color: #fff;
    -webkit-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
}
.video-item .play i {
    font-size: 18px;
    line-height: 20px;
}
.video-item .figure-img:hover .play {
	background-color: #FF6700;
	border-color: #FF6700;
}
.video-item .title {
    margin: 0 0 6px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #333;
}
.video-item .desc {
    height: 18px;
    margin: 0;
    font-size: 12px;
    color: #b0b0b0;
}
/*底部*/
.site-footer {
	width: 100%;
	height: auto;
	background-color: #fff;
}
.site-footer .footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.site-footer .list-service li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.site-footer .list-service li:first-child {
    border-left: 0;
}
.site-footer .list-service a {
    color: #616161;
    -webkit-transition: color .2s;
    transition: color .2s;
}
.site-footer .list-service a:hover {
    color: #ff6700;
}
.site-footer .list-service .iconfont {
    margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -4px;
}
.site-footer .footer-links {
    padding: 40px 0;
}
.site-footer .footer-links .col-links {
    float: left;
    width: 160px;
    height: 112px;
    margin: 0;
}
.site-footer .footer-links .col-links dt {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.site-footer .footer-links .col-links dd {
    margin: 10px 0 0;
    font-size: 12px;
}
.site-footer .footer-links .col-links a {
    color: #757575;
}
.site-footer .footer-links .col-links a:hover {
    color: #ff6700;
}
.site-footer .footer-links .col-contact {
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.site-footer .footer-links .col-contact p {
    margin: 0 0 16px;
    font-size: 12px;
}
.site-footer .footer-links .col-contact .phone {
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.btn {
    display: inline-block;
    width: 118px;
    height: 28px;
    padding: 0;
    margin: 0;
    border: 1px solid #ff6700;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    color: #ff6700;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.btn:hover {
    border-color: #f25807;
    background: #f25807;
    color: #fff;
}
/*其他信息*/
.site-info {
    padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}
.site-info .logo {
    float: left;
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url(../img/logo-footer.png) no-repeat 50% 50%;
}
.ir {
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
    _zoom: 1;
}
.site-info .info-text {
    float: left;
    color: #b0b0b0;
}
.site-info .info-text a {
    color: #b0b0b0;
}
.site-info .info-text p {
    margin: 0;
    line-height: 18px;
}
.site-info .info-text .sites-list li {
	float: left;
}
.site-info .sites-list li a {
    color: #757575;
    padding: 0 6px;
    border-right: 1px solid #b0b0b0;
}
.site-info a:hover,
.site-info .sites-list li a:hover {
	color: #ff6700;
}
.site-info .sites-list .sites-first a{
	padding-left: 0;
}
.site-info .sites-list .sites-last a {
	border: none;
}
.site-info .info-links {
    float: right;
    _display: inline;
    height: 28px;
    margin: 4px 0 0;
}
.site-info .info-links img {
    width: auto;
    height: 28px;
    margin-left: 7px;
}
.site-info .slogan {
    clear: both;
    margin: 30px auto 0;
    width: 267px;
    height: 19px;
    background: url(../img/slogan2016.png) no-repeat center 0;
}